# Task 1: Treasure hunt with Pandas
---

Learning how to index with Pandas is kind of like having to eat your vegetables: it's not the funnest thing, but you need to know it! In this exercise, I'll provide you with clues that you need to use to index a dataframe and find the "Treasure". For example, if the clue is "The first ten rows" then you might try:

```python
>>> df.iloc[:10]
```

The above is just an example, but the result of your indexing should always be the string `'TREASURE'`.

In [1]:
import pandas as pd

## 1.1

Load in the file `treasure_hunt.csv` as a dataframe called `treasure_df`. Read in the first column as the dataframe index column and the first row as the dataframe columns.

In [3]:
# Your solution here
treasure_df=pd.read_csv("treasure_hunt.csv",index_col=0,header=0)
treasure_df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C21,C22,C23,C24,C25,C26,C27,C28,C29,C30
R1,T,W,W,R,A,L,E,A,J,B,...,H,A,Q,O,S,Q,C,N,TREA,SURE
R2,U,R,O,N,Y,D,K,N,K,T,...,T,D,M,D,W,F,N,I,E,A
R3,X,H,E,F,T,C,Y,Z,O,B,...,J,X,S,K,P,A,I,E,S,U
R4,R,Q,E,A,W,D,X,T,Z,K,...,Y,C,Y,W,P,I,G,B,R,E
R5,R,G,Q,Z,S,L,W,U,W,Q,...,Z,N,J,R,Z,G,M,P,Q,Y

## 1.2

**CLUE:** C20, R1

In [5]:
# Your solution here
x=treasure_df.loc["R1","C20"]
x

'TREASURE'

## 1.3

**CLUE:** thirteenth column, thirteenth row (*hint*: recall that indexing starts at 0!)

In [6]:
# Your solution here
data1=treasure_df.iloc[12,12]
data1

'TREASURE'

## 1.4

**CLUE:** R28, tenth column

In [8]:
# Your solution here
data2=treasure_df.loc["R28"].iloc[9]
data2

'TREASURE'

## 1.5
rubric={autograde:1}

# Your solution here**CLUE:** C26, R19 to R26

**HINT:** You might need to do a bit of extra wrangling (e.g. joining stuff, maybe?) to get a result of "TREASURE" here...

In [9]:
# Your solution here
data=treasure_df.loc["R19":"R26","C26"]
data

R19    T
R20    R
R21    E
R22    A
R23    S
R24    U
R25    R
R26    E
Name: C26, dtype: object

## 1.6

**CLUE:** The first rows of C29 *plus* the first row of C30

In [12]:
# Your solution here
info_c29=treasure_df.loc["R1","C29"]
info_c30=treasure_df.loc["R1","C30"]
combination=str(info_c29)+str(info_c30)
combination

'TREASURE'

## 1.7

**CLUE:** The first row of all columns that **do not** have a "Z" in the last row.

**HINT:** You might need to do a bit of extra wrangling to get a result of "TREASURE" here...

In [14]:
# Your solution here
last_row = treasure_df.iloc[-1]

#last_row

columns_without_Z = last_row[last_row != 'Z'].index

first_row_values = treasure_df.loc['R1', columns_without_Z]

print(first_row_values)

C1     T
C4     R
C7     E
C8     A
C13    S
C15    U
C16    R
C19    E
Name: R1, dtype: object

## 1.8

**CLUE:** C1 for C1 < C2 (remember, in Python, comparison operators work on string too, e.g., `"a" < "b" = True` because `a` occurs before `b` alphabetically. Also, don't forget about `.query()`!)

**HINT:** You might need to do a bit of extra wrangling to get a result of "TREASURE" here...

In [15]:
# Your solution here
selected_values = treasure_df.query('C1 < C2')['C1']
result = ''.join(selected_values)

result

'TREASURE'